<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<h2>Users</h2>

<hr>
{{#each users}}
  <h3>Id: {{this.id}}</h3>
  <h3>Name: {{this.name}}</h3>
  <h3>Surname: {{this.surname}}</h3>
  <h3>Email: {{this.email}}</h3>
  <div><a href="/page/users/edit/{{this.id}}"}>Open</a></div>
  <hr>
{{/each}}

</body>
</html>
