<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
</head>
<body>

<h3>{{formType}} User</h3>
<hr>

{{#if img}}
  <img src="{{img}}" alt="image" width="200" height="200">
  <hr>
{{/if}}

{{#if id}}
  <form action="/upload/{{id}}" method="post" enctype="multipart/form-data">
    <input type="file" name="file"></div>
    <div><input type="submit" value="Upload image"></div>
  </form>
  <hr>
{{/if}}

<form action="/{{formAction}}" method="post" enctype="application/json" >
  {{#if id}}
    <div>Id:<br><input type="text" name="name" value="{{id}}" disabled></div>
  {{/if}}
  <div>Name:<br><input type="text" name="name" value="{{name}}"></div>
  <div>Surname:<br><input type="text" name="surname" value="{{surname}}"></div>
  <div>Email:<br><input type="email" name="email" value="{{email}}"></div>
  <hr>
  <div><input type="submit" value="Submit"></div>
</form>

<hr>
{{#if id}}
  <div><a href="/page/users/new">Add User</a></div>
{{/if}}
<div><a href="/page/users">Users</a></div>

</body>
</html>
